<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS 08</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <h1>AngularJS Tables</h1>
    <p>The ng-repeat directive is perfect for displaying tables.</p>

    <h3> 1 - Displaying tables with angular is very simple: </h3>
    <div ng-app="myApp" ng-controller="customersCtrl"> 
    <table>
        <tr ng-repeat="x in names">
            <td>{{ x.Name }}</td>
            <td>{{ x.Country }}</td>
        </tr>
    </table>
    </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("customers.php")
        .then(function (response) {$scope.names = response.data.records;});
    });
    </script>

    <h3> 2 - Display with orderBy Filter</h3>
    <p>To sort the table, add an orderBy filter: </p>
    <div ng-app="myApp" ng-controller="customersCtrl"> 

    <table>
        <tr ng-repeat="x in names | orderBy : 'Country'">
            <td>{{ x.Name }}</td>
            <td>{{ x.Country }}</td>
        </tr>
    </table>
    </div>
    <script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("customers.php")
        .then(function (response) {$scope.names = response.data.records;});
    });
    </script>

    

</body>
</html>